<ion-header class="c-modal__header ion-no-border">
  <ion-toolbar class="c-modal__toolbar headertoolbar">
    <ion-segment value="hourly" class="m-modal__segment">
      <ion-segment-button value="hourly" class="c-modal__segmentbtn" contentId="hourly">
        Hourly Forecast
      </ion-segment-button>
      <ion-segment-button value="weekly" class="c-modal__segmentbtn" contentId="weekly">
        Weekly Forecast
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<div class="c-modal__content">
  <div class="c-modal__container bottom-border">
    <ion-segment-view class="c-modal__segmentview">
      <ion-segment-content id="hourly" class="c-modal__segmentcontent">
        <div class="c-modal__forecastlist">
          @for (item of list; track $index) {
          <div class="c-modal__forecast">
            <app-forecast>
            </app-forecast>
          </div>
          }
        </div>
      </ion-segment-content>
      <ion-segment-content id="weekly" class="c-modal__segmentcontent">
        <!-- <div class="m-modal__container">
        @for (item of list; track $index) {
        <app-forecast>
        </app-forecast>
        }

      </div> -->
      </ion-segment-content>
    </ion-segment-view>
  </div>
  <div class="c-modal__weatherdetails non-draggable">
    <div class="c-modal__weathercontainer primary">
      <div class="c-modal__weather">
        <div class="c-modal__weathertitle">
          <ion-icon class="c-modal__weathericom airquality" name="airplane-outline"></ion-icon>
          <h4 class="c-modal__weathertext">Air Quality</h4>
        </div>
        <div class="c-modal__weathergraph">
          <div class="c-modal__risklevel">
            <h4 class="c-modal__riskleveltext">3-low health risk</h4>
            <div class="c-modal__graph">
              <div class="c-modal__graphbar"></div>
            </div>
          </div>
        </div>
        <div class="c-modal__seemore">
          <h4 class="c-modal__seemoretext">
            See more
          </h4>
          <ion-icon name="chevron-forward-outline" class="c-modal__weathericom"></ion-icon>
        </div>
      </div>
    </div>
    <div class="c-modal__wrapper">
          <div class="c-modal__weathercontainer">
      <div class="c-modal__weather">
        <div class="c-modal__weathertitle">
          <ion-icon class="c-modal__weathericom airquality" name="sunny-outline"></ion-icon>
          <h4 class="c-modal__weathertext">uv index</h4>
        </div>
        <div class="c-modal__weathergraph">
          <div class="c-modal__risklevel">
            <h4 class="c-modal__indextext">4 moderate</h4>
            <div class="c-modal__graph">
              <div class="c-modal__graphbar"></div>
            </div>
          </div>
        </div>
        <!-- <div class="c-modal__seemore">
          <h4 class="c-modal__seemoretext">
            See more
          </h4>
          <ion-icon name="chevron-forward-outline" class="c-modal__weathericom"></ion-icon>
        </div> -->
      </div>
    </div>
        <div class="c-modal__weathercontainer">
      <div class="c-modal__weather">
        <div class="c-modal__weathertitle">
          <ion-icon ></ion-icon>
          <ion-icon class="c-modal__weathericom airquality" name="partly-sunny-outline"></ion-icon>
          <h4 class="c-modal__weathertext">sunrise</h4>
        </div>
        <div class="c-modal__weathergraph">
          <div class="c-modal__risklevel">
            <h4 class="c-modal__riskleveltext">5:24 AM</h4>
            <div class="c-modal__graph">
              <div class="c-modal__graphbar"></div>
            </div>
          </div>
        </div>
        <div class="c-modal__seemore">
          <h4 class="c-modal__seemoretext">
            See more
          </h4>
          <ion-icon name="chevron-forward-outline" class="c-modal__weathericom"></ion-icon>
        </div>
      </div>
    </div>
    </div>
        <div class="c-modal__wrapper">
          <div class="c-modal__weathercontainer">
      <div class="c-modal__weather">
        <div class="c-modal__weathertitle">
          <ion-icon class="c-modal__weathericom airquality" name="airplane-outline"></ion-icon>
          <h4 class="c-modal__weathertext">Air Quality</h4>
        </div>
        <div class="c-modal__weathergraph">
          <div class="c-modal__risklevel">
            <h4 class="c-modal__riskleveltext">3-low health risk</h4>
            <div class="c-modal__graph">
              <div class="c-modal__graphbar"></div>
            </div>
          </div>
        </div>
        <div class="c-modal__seemore">
          <h4 class="c-modal__seemoretext">
            See more
          </h4>
          <ion-icon name="chevron-forward-outline" class="c-modal__weathericom"></ion-icon>
        </div>
      </div>
    </div>
        <div class="c-modal__weathercontainer">
      <div class="c-modal__weather">
        <div class="c-modal__weathertitle">
          <ion-icon class="c-modal__weathericom airquality" name="airplane-outline"></ion-icon>
          <h4 class="c-modal__weathertext">Air Quality</h4>
        </div>
        <div class="c-modal__weathergraph">
          <div class="c-modal__risklevel">
            <h4 class="c-modal__riskleveltext">3-low health risk</h4>
            <div class="c-modal__graph">
              <div class="c-modal__graphbar"></div>
            </div>
          </div>
        </div>
        <div class="c-modal__seemore">
          <h4 class="c-modal__seemoretext">
            See more
          </h4>
          <ion-icon name="chevron-forward-outline" class="c-modal__weathericom"></ion-icon>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>