<ion-tabs class="m-tabs__tabs">
  <ion-tab-bar slot="bottom" class="m-tabs__tabbar" >
    <ion-tab-button tab="home" class="m-tabs__button">
      <ion-img src="/assets/icon/location.png" alt="location icon" class="m-tabs__icon location"></ion-img>
    </ion-tab-button>
    <ion-tab-button tab="radio" class="m-tabs__button">
      <ion-img src="/assets/icon/addbtn.png" alt="add icon" class="m-tabs__icon addbtn"></ion-img>
    </ion-tab-button>
    <ion-tab-button tab="search" class="m-tabs__button">
      <ion-img src="/assets/icon/menu.png" alt="menu icon" class="m-tabs__icon menu"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>