@use 'src/theme/mixins.scss' as *;
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


@keyframes slideDownFadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        /* Slide down by 100px */
        opacity: 0;
        /* Fade out */
    }
}

app-home {
    background-image: linear-gradient(90deg, rgba(34, 24, 61, 0.2) 0%, rgba(67, 41, 106, 0.2) 50%, rgba(34, 24, 61, 0.2) 100%), url("assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.app-home__modal-open {
        background: var(--color-violet);
        background-image: none;
    }
}

.ion-page {
    justify-content: flex-start;
    animation-fill-mode: both;
    animation-duration: 0.9s;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Poppins-Regular);
    margin: 2px;
    line-height: 0.9;
    text-transform: capitalize;
    color: var(--color-white);


}

$name : m-home;
$selector: ".#{$name}";

#{$selector} {
    &__content {
        --background: none;
        --color: var(--color-white);
    }

    &__weathercontainer {
        min-height: 173px;
    }

    &__tempcondition {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 200px;
        padding: 0px 10px;
        // flex-direction: column;
        // &.flexcolumn{
        //     flex-direction: column;
        // }
    }

    &__weather {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 88px;
    }

    &__location {
        font-size: 34px;
        font-family: var(--Poppins-Regular);

        @include breakpoint(mobile-sm) {
            font-size: 33px;
        }

        @include breakpoint(mobile-md) {
            font-size: 34px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 35px;
        }
    }

    &__temperature {
        font-size: 90px;
        font-family: var(--Poppins-Regular);

        @include breakpoint(mobile-sm) {
            font-size: 89px;
        }

        @include breakpoint(mobile-md) {
            font-size: 90px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 91px;
        }

        &.small {
            font-size: 20px;
            font-family: var(--Poppins-Regular);

            @include breakpoint(mobile-sm) {
                font-size: 19px;
            }

            @include breakpoint(mobile-md) {
                font-size: 20px;
            }

            @include breakpoint(mobile-lg) {
                font-size: 21px;
            }
        }
    }

    &__condition {
        font-size: 20px;
        font-family: var(--Poppins-SemiBold);
        opacity: 0.8;

        @include breakpoint(mobile-sm) {
            font-size: 19px;
        }

        @include breakpoint(mobile-md) {
            font-size: 20px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 21px;
        }

        &.small {
            font-family: var(--Poppins-Regular);
        }
    }

    &__tempminmax {
        font-size: 20px;
        font-family: var(--Poppins-SemiBold);

        @include breakpoint(mobile-sm) {
            font-size: 19px;
        }

        @include breakpoint(mobile-md) {
            font-size: 20px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 21px;
        }
    }

    &__house3d {
        margin-top: 20px;
        position: fixed;
        top: 261px
    }

}

// $name:forecat-modal;
// $selector: ".#{$name}";
// #{$selector} {
//     // --height:auto;
//     // --max-height: 90%;
//     // --min-height: 50%;
//     align-items: flex-end;
//      --border-radius: 25px;
//     --border-color:var(--indicator-gradient);
//     --border-width:2px;
//     &::part(content){
//             backdrop-filter: blur(25px) saturate(200%);
//     -webkit-backdrop-filter: blur(25px) saturate(200%);
//     background-color: var(--color-purple);
//     }
// }
$name: c-modal;
$selector: ".#{$name}";

#{$selector} {

    &__toolbar {
        --background: transparent;
        --color: var(--color-white);
        --box-shadow: none;
        --min-height: 40px;

        &.headertoolbar {
            &::part(container) {
                border-bottom: 1px solid var(--color-dark-purple);
            }

            &::part(content) {
                border-bottom: 1px solid var(--color-light-purple);
            }
        }
    }

    &__tabbar {
        // position: absolute;
        // width: 100%;
        // --background: transparent;
        // bottom: 0px;
        // height: 130px;
    }

    &__tabs {
        position: fixed;
        bottom: 50%;
        left: 0;
        width: 100%;
        // padding: 0px 30px;
        // min-height: 115px;
        background: transparent;


    }

    &__addbuttoncontainer {
        width: 50%;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 25%;
        z-index: 3;
        min-height: 115px;
        // background: var(--color-dark-blue);
        //         clip-path: polygon(
        //     70.65% 30.94%, /* Top-right */
        //     70.65% 72.98%, /* Bottom-right */
        //     26.10% 72.98%, /* Bottom-left */
        //     26.10% 30.94%  /* Top-left */
        //   );
        // clip-path: shape(75% 0%, 100% 100%, 0% 100%, 25% 0%);
        // border-radius: 50% 50% 0 0;
        // clip-path: shape(from 75% 0%, curve to 100% 100% with 75% 25%, curve to 0% 100% with 8% 100%, curve to 25% 0% with 25% 25%, curve to 75% 0% with 50% 0%);
        // clip-path: shape(from 75% 0%, curve to 100% 100% with 91.29% 50.00%, curve to 0% 100% with 50.00% 95.96%, curve to 25% 0% with 2.21% 50.00%, curve to 75% 0% with 50.00% 11.89%);
        // border-radius: 50% 50% 0 0;
        // &::after{
        //    content: '';
        //    height: 50px;
        //    width: 50%;
        //    background: transparent;
        //    position: absolute; 
        // }
    }

    // &__addbutton{
    //     width: 100px;
    //     height: 100px;
    //     background: var(--color-dark-purple);
    // }
    &__addbuttonwrapper {
        height: 57px;
        width: 57px;
        border-radius: 50%;
        position: absolute;
        bottom: 44px;
        z-index: 3;
        box-shadow: rgba(6, 24, 44, 0.4) 3px 3px 3px 3px, rgba(6, 24, 44, 0.65) 3px 3px 3px 3px, rgba(255, 255, 255, 0.08) 3px 3px 3px 3px;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    &__button {
        width: 105px;
        --background: transparent;
        --box-shadow: none;

        &.add {
            --border-radius: 50%;
            --background: var(--color-white);
            height: 56px;
            width: 56px;
            --ripple-color: var(--color-dark-blue);
            --box-shadow: rgb(178 178 178) 3px 3px 6px 0px inset, rgb(161 161 161 / 50%) -3px -3px 6px 1px inset;
        }
    }

    &__tabbar {
        display: flex;
        justify-content: space-between;
        position: relative;
        min-height: 115px;
    }

    &__buttonwrapper {
        display: flex;
        align-items: center;
    }

    &__mainvalue {
        font-size: 32px;
    }

    &__segmented-ring {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: conic-gradient(blue 50% 75%,
                transparent 75% 100%);
        mask: radial-gradient(circle, transparent 60%, black 61%);
        -webkit-mask: radial-gradient(circle, transparent 60%, black 61%);
    }

    &__icon {
        width: 25px;

        &.add {
            color: var(--color-dark-blue);
            font-size: 25px;
        }

        &.addbtn {
            position: absolute;

            z-index: 2;
            width: 100%;
            bottom: 32px;
        }
    }

    &__weathercontainer {
        border: 1px solid var(--color-dark-purple);
        padding: 10px;
        background: var(--color-violet);
        min-height: 145px;
        border-radius: 20px;
        width: calc(100% / 2 - 5px);
        position: relative;

        &.primary {
            background: var(--color-dark-purple);
            border: 1px solid var(--color-light-purple);
            width: 100%;
        }
    }

    &__weathericom {
        color: var(--color-gray);
    }

    &__weatherdetails {
        padding: 12px 24px;
        margin-top: 90px;
        position: relative;
        min-height: 431px;
        overflow: scroll;
        bottom: 32px;

    }

    &__overviewimgwrapper {
        position: relative;
    }

    &__detailtext {
        font-size: 12px;
        text-transform: none;

        @include breakpoint(mobile-sm) {
            font-size: 11px;
        }

        @include breakpoint(mobile-md) {
            font-size: 12px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 13px;
        }
    }

    &__weatheroverview {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
    }


    &__arrow {
        position: absolute;
        bottom: 15%;
        width: 75%;
        left: 15%;
        rotate: -135deg;
    }


    &__segmentview {
        height: 173px
    }

    &__content {
        --background: transparent;
        --color: var(--color-white);
    }

    &__forecastlist {
        display: flex;
        width: 100%;
        overflow-x: auto;
        padding: 17px 12px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__seemore {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-top: 1px solid var(--color-gray);
        padding-top: 10px;


    }

    &__seemoretext {
        font-size: 15px;

        @include breakpoint(mobile-sm) {
            font-size: 14px;
        }

        @include breakpoint(mobile-md) {
            font-size: 15px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 16px;
        }
    }

    &__indextext {
        font-size: 26px;

        @include breakpoint(mobile-sm) {
            font-size: 25px;
        }

        @include breakpoint(mobile-md) {
            font-size: 26px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 27px;
        }
    }

    &__weathervalue {
        font-size: 17px;

        @include breakpoint(mobile-sm) {
            font-size: 16px;
        }

        @include breakpoint(mobile-md) {
            font-size: 17px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 18px;
        }
    }

    &__container {
        border-radius: 24%;

        &.bottom-border {
            border-bottom: 1px solid var(--color-light-purple);
        }
    }

    &__segmentbtn {
        text-transform: capitalize;
        // --color:var(--color-gray);
        color: var(--color-gray);
        --color-checked: var(--color-gray);
        --indicator-color: var(--indicator-gradient);
        --indicator-height: 2px;
        --padding-top: 16px;
        height: 41px;
        min-height: 20px;
        font-size: 12px;

        @include breakpoint(mobile-sm) {
            font-size: 11px;
        }

        @include breakpoint(mobile-md) {
            font-size: 12px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 13px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 12px;
        margin: 12px 0px;
    }

    &__weatherlist {
        z-index: 10;
        align-items: flex-end;
        --border-radius: 50px 50px 0px 0px;
        --border-color: var(--indicator-gradient);
        --border-width: 2px;
        --max-height: 83%;

        &::part(content) {
            backdrop-filter: blur(10px) saturate(100%);
            -webkit-backdrop-filter: blur(10px) saturate(100%);
            background-color: var(--color-purple);
        }

        // &.nofilter{
        //     &::part(content) {
        //         backdrop-filter: none;
        //         -webkit-backdrop-filter: none;
        //         background-color: var(--color-violet);
        //     }
        // }

        // &__forecast{
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: center;
        //     width: 46px;
        //     height: 112px;
        //     margin: 0 10px;
        //     border-radius: 30px;
        //        backdrop-filter: blur(2px) saturate(100%);
        // -webkit-backdrop-filter: blur(2px) saturate(100%);
        // background-color: var(--colr-shade-purple);
        //     box-shadow: var(--box-shadow);
        //     padding: 10px;
        //     border: 1px solid var(--color-light-purple);
        // }
    }

    &__btn {
        --background: transparent;
        --color: var(--color-white);
        --box-shadow: none;
        min-height: 45px;
        min-width: 45px;
        justify-content: center;
        align-items: center;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;

        &.add {
            position: relative;
            z-index: 10;
            bottom: 50px;
        }
    }

    &__weathertitle {
        display: flex;
        font-size: 20px;
        align-items: center;
        color: var(--color-gray);

        @include breakpoint(mobile-sm) {
            font-size: 19px;
        }

        @include breakpoint(mobile-md) {
            font-size: 20px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 21px;
        }
    }

    &__weathertext {
        font-family: var(--Poppins-Regular);
        font-size: 14px;
        color: var(--color-gray);

        @include breakpoint(mobile-sm) {
            font-size: 13px;
        }

        @include breakpoint(mobile-md) {
            font-size: 14px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 15px;
        }
    }

    &__actionbtns {
        display: flex;
        justify-content: space-between;
        align-items: self-start;
        --background: transparent
    }

    &__footer {
        // position: fixed;
        // bottom: 380px;
        position: relative;
        z-index: 21000;

        &.slide-down {
            animation: slideDownFadeOut 0.1s ease-in-out forwards;
        }
    }

    &__weathergraph {
        padding: 10px 0;
        // padding-bottom: 15px;
        color: var(--color-white);
    }

    &__graphbar {
        width: 100%;
        height: 4px;
        background: var(--graph-gradient);
        border-radius: 2px;
        position: relative;
        margin-top: 15px;
    }
}

$name: c-forecast;
$selector: ".#{$name}";

#{$selector} {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 58px;
        height: 125px;
        margin: 0 5px;
        border-radius: 30px;
        backdrop-filter: blur(2px) saturate(100%);
        -webkit-backdrop-filter: blur(2px) saturate(100%);
        background-color: var(--colr-shade-purple);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
        padding: 10px;
        border: 1px solid var(--color-light-purple);
    }

    &__detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: var(--Poppins-Regular);
        color: var(--color-white);
        margin: 0;

        @include breakpoint(mobile-sm) {
            font-size: 11px;
        }

        @include breakpoint(mobile-md) {
            font-size: 12px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 13px;
        }
    }

    &__percentage {
        font-size: 11px;
        font-family: var(--Poppins-SemiBold);
        color: var(--color-blue);
        margin: 0;
        position: relative;
        bottom: 8px;

        @include breakpoint(mobile-sm) {
            font-size: 10px;
        }

        @include breakpoint(mobile-md) {
            font-size: 11px;
        }

        @include breakpoint(mobile-lg) {
            font-size: 12px;
        }
    }
}

$name: m-tabs;
$selector: ".#{$name}";

#{$selector} {}